.container{
    width: 80%;
    margin: auto;
	background-color: darkgray;
	display: flex
}
.userInfo {
	background: gainsboro;
	width: 60%;
    padding: 30px;
    float: left;
}
.singleUser{
    width: 40%;
}

button {
	background: gray;
	color: #fff;
	border: 0;
	padding: 5px;
	border-radius: 5px;
}
button:hover{
    cursor: pointer;
}
.singleUser {
	width: 32%;

	font-size: 14px;
	text-align: center;
	/* background: red; */
	margin-left: 25px;
	background: silver;
}